# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [39]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type

In [4]:
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]

In [5]:
suburban_cities_df.head(5)

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,37.78,2273047151891,12,Suburban

In [6]:
# 2. Get the total drivers for each city type
#urban
total_urban_drivers = urban_cities_df.groupby(["city"]).count()["driver_count"]
total_urban_drivers.head()

city
Amandaburgh        18
Barajasview        22
Carriemouth        27
Christopherfurt    27
Deanville          19
Name: driver_count, dtype: int64

In [7]:
#suburban
total_suburban_drivers = suburban_cities_df.groupby(["city"]).count()["driver_count"]
total_suburban_drivers.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: driver_count, dtype: int64

In [8]:
#rural
total_rural_drivers = rural_cities_df.groupby(["city"]).count()["driver_count"]
total_rural_drivers.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type

In [9]:
# urban total amount of fares
total_urban_fares = urban_cities_df.groupby(["city"]).count()["fare"]
total_urban_fares.head()

city
Amandaburgh        18
Barajasview        22
Carriemouth        27
Christopherfurt    27
Deanville          19
Name: fare, dtype: int64

In [10]:
#suburban total amount of fares
total_suburban_fares = suburban_cities_df.groupby(["city"]).count()["fare"]
total_suburban_fares.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: fare, dtype: int64

In [11]:
#rural total amount of fares
total_rural_fares = rural_cities_df.groupby(["city"]).count()["fare"]
total_rural_fares.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: fare, dtype: int64

In [6]:
#  4. Get the average fare per ride for each city type.

In [12]:
#urban
urban_avg_fare = urban_cities_df.groupby(["city"]).mean()["fare"]
urban_avg_fare.head()

city
Amandaburgh        24.641667
Barajasview        25.332273
Carriemouth        28.314444
Christopherfurt    24.501852
Deanville          25.842632
Name: fare, dtype: float64

In [13]:
#suburban
suburban_avg_fare = suburban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare.head()

city
Barronchester    36.422500
Bethanyland      32.956111
Brandonfort      35.437368
Colemanland      30.894545
Davidfurt        31.995882
Name: fare, dtype: float64

In [14]:
#rural
rural_avg_fare = rural_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare.head()

city
Bradshawfurt      40.064000
Garzaport         24.123333
Harringtonfort    33.470000
Jessicaport       36.013333
Lake Jamie        34.358333
Name: fare, dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type.

In [15]:
#urban
urban_driver_avg_fare = urban_cities_df.groupby(["ride_id"]).mean()["fare"]
urban_driver_avg_fare.head()

ride_id
14588103145    38.95
18586563147    26.10
23948941587    18.92
25082058503    33.90
28294640252    17.16
Name: fare, dtype: float64

In [16]:
#suburban
surban_driver_avg_fare = suburban_cities_df.groupby(["ride_id"]).mean()["fare"]
surban_driver_avg_fare.head()

ride_id
321833677      48.20
1506044208     40.87
16507766547    41.95
30234681362    16.53
38504866921    29.19
Name: fare, dtype: float64

In [17]:
#rural
urban_avg_fare = urban_cities_df.groupby(["ride_id"]).mean()["fare"]
urban_avg_fare.head()

ride_id
14588103145    38.95
18586563147    26.10
23948941587    18.92
25082058503    33.90
28294640252    17.16
Name: fare, dtype: float64

In [8]:
#  6. Create a PyBer summary DataFrame.

In [18]:
#urban
urban_cities_df.describe()

              fare       ride_id  driver_count
count  1625.000000  1.625000e+03   1625.000000
mean     24.525772  4.873485e+12     36.678154
std      11.738649  2.907440e+12     20.075545
min       4.050000  1.458810e+10      3.000000
25%      14.550000  2.400244e+12     22.000000
50%      24.640000  4.711188e+12     37.000000
75%      34.580000  7.451579e+12     52.000000
max      44.970000  9.991538e+12     73.000000

In [21]:
#suburban
suburban_cities_df.describe()

             fare       ride_id  driver_count
count  625.000000  6.250000e+02    625.000000
mean    30.970128  4.971015e+12     13.712000
std     10.677508  2.912410e+12      8.042372
min     12.050000  3.218337e+08      1.000000
25%     21.970000  2.364253e+12      5.000000
50%     30.750000  5.053221e+12     16.000000
75%     39.830000  7.551674e+12     21.000000
max     49.960000  9.917744e+12     25.000000

In [20]:
#rural
rural_cities_df.describe()

             fare       ride_id  driver_count
count  125.000000  1.250000e+02    125.000000
mean    34.623440  4.647746e+12      4.296000
std     14.558046  2.887834e+12      2.691156
min     10.110000  2.684873e+10      1.000000
25%     19.900000  2.275364e+12      1.000000
50%     37.050000  4.023962e+12      4.000000
75%     47.070000  7.118047e+12      7.000000
max     58.550000  9.990581e+12      9.000000

In [27]:
Total_Rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
Total_Rides.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [28]:
Total_Drivers = pyber_data_df.groupby(["type"]).sum()["driver_count"]
Total_Drivers.head()

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [29]:
Total_Fares = pyber_data_df.groupby(["type"]).sum()["fare"]
Total_Fares.head()

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [33]:
Ave_Fare_Per_Ride = Total_Fares/Total_Rides
Ave_Fare_Per_Ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [37]:
Ave_Fare_Per_Driver = Total_Fares/Total_Drivers
Ave_Fare_Per_Driver

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [43]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

NameError: name 'pyber_summary_df' is not defined

In [46]:
#  7. Cleaning up the DataFrame. Delete the index name
Data.index.name = None

In [47]:

Data = pd.DataFrame({'Total Rides':Total_Rides, 'Total Drivers':'Total_Drivers', 'Total Fares':'Total_Fares', 'Average Fare Per Ride': Ave_Fare_Per_Ride, 'Average Fare Per Driver': average_fare_per_driver})
Data

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
type,,,,,
Rural,125,Total_Drivers,Total_Fares,34.623440,8.059460
Suburban,625,Total_Drivers,Total_Fares,30.970128,2.258615
Urban,1625,Total_Drivers,Total_Fares,24.525772,0.668675

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [12]:
# 9. Using groupby() on the pyber_data_df to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
sum_fares_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
sum_fares_by_type

In [13]:
# 10. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 11. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 12. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2018-01-01':'2018-04-29'.

In [16]:
# 13. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 14. Check that the datatype for the index is datetime using df.info()

In [18]:
# 15. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 16. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')